/* CSS declarations go here */
.clock {
  width: 100%;
  padding: 10px;
  background-color: #fff;
}
.users {
  border: 3px dashed blue;
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}
.username {
  margin: 1px 1px 1px 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: blue;
}
.inner {
  border: 3px dashed blue;
  padding: 20px;
  margin: 10px;
  font-size: 1.5em;
  background-color: #eee;
}
.clock button {
  margin: 10px;
  width: 150px;
  padding: 12px;
  font-size: 1.5em;
}
.speaker {
  font-size: 2em;
  color: darkblue;
  text-align: center;
}
.counter {
  font-size: 5em;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  color: blue;
}
#login-buttons {
  padding: 5px;
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid grey;
}
#time-second, #time-minute {
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  width: 80px;
  font-size: 1.5em;
}
